.redirect__auth {
  margin-top: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text__color);
}

.redirect__auth_second{
  margin: 0;
}

.redirect_link__auth {
  color: #3091eb;
}