.container {
  width: 100%;
  height: calc(100vh - 88px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
    background-image: url('../../images/mobile/loginBg.png');
  }
}

.form{
  width: 100%;
}



@media screen and (min-width: 768px) {
  .container {
    background-image: url('../../images/tablet/loginBg.png');
  }
}

@media screen and (min-width: 1200px) {
  .container {
    background-image: url('../../images/desctop/loginPageBg.png');
  }
}

.error__password {
  right: 12%;
}


