.topGap {
  padding-top: 20px;
  padding-bottom: 20px;
}

.centeringContainer {
  display: flex;
  justify-content: center;
}

.navWrap {
  display: flex;
  align-items: center;
}

.headerWrap{
  background-color: rgb(253 247 242 / 20%);
    width: 100%;
}
