.button__container {
  margin-top: 40px;
}

.button__wrap {
  padding-left: 35px;
  padding-right: 35px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  @media screen and (min-width: 767px) {
      flex-direction: row-reverse;
      justify-content: center;
    }
}
