.container {
  background-color: var(--btn__color);
  padding: 18px;
  width: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 767px) {
  .container {
    width: 608px;
  }
}

.btnClose {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg__color);
  border: none;

  &:hover,
  &:focus {
    transition: box-shadow 250ms ease-out;
    box-shadow: 0px 0px 1px 2px rgba(245, 146, 86, 0.7);
    -webkit-box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -moz-box-shadow: 0px 0px 3px 1px rgba(245, 146, 86, 0.7);
  }
}

.crossSmall {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 767px) {
  .crossSmall {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 767px) {
  .btnClose {
    width: 44px;
    height: 44px;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .title {
    font-size: 36px;
    line-height: 49px;
  }
}

.btnWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 767px) {
  .btnWrap {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.buttonFill {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02857em;
  max-width: 240px;
  height: 40px;
  padding: 10px 28px;
  border-radius: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: #f59256;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  width: 100%;

  &:hover,
  &:focus {
    transition: box-shadow 250ms ease-out;
    box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -webkit-box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -moz-box-shadow: 0px 0px 4px 2px rgba(245, 146, 86, 0.7);
  }
}

@media screen and (min-width: 767px) {
  .buttonFill {
    max-width: 180px;
    height: 44px;
    margin-left: 20px;
  }
}

.buttonEmpty {
  max-width: 240px;
  height: 40px;
  border-radius: 40px;
  background: #ffffff;
  border: 2px solid #f59256;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #111111;
  cursor: pointer;

  &:hover,
  &:focus {
    transition: box-shadow 250ms ease-out;
    box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -webkit-box-shadow: 0px 0px 2px 4px rgba(245, 146, 86, 0.7);
    -moz-box-shadow: 0px 0px 4px 2px rgba(245, 146, 86, 0.7);
  }
}

@media screen and (min-width: 767px) {
  .buttonEmpty {
    width: 180px;
    height: 44px;
  }
}

//----------------- First page----------------

.wrapForm {
  display: flex;
  justify-content: center;
}

.form {
  width: 100%;
}

// .form {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     margin-top: 20px;
//     margin-bottom: 40px;
// }

.formFirst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 28px;
  margin-bottom: 20px;
  width: 448px;
}

.formSecond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelFirst {
  margin-bottom: 16px;
}

.inputWrapper {
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
}

@media screen and (min-width: 767px) {
  .inputWrapper {
    margin-top: 12px;
    margin-bottom: 28px;
  }
}

.inputWrapperLast {
  position: relative;
  margin-top: 8px;
}

@media screen and (min-width: 767px) {
  .inputWrapperLast {
    margin-top: 12px;
  }
}

.input {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 26px;
  width: 240px;
  height: 40px;
  @media screen and (min-width: 767px) {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 767px) {
  .input {
    width: 448px;
    height: 48px;
  }
}

.input_last {
  height: 40px;
}

@media screen and (min-width: 767px) {
  .input_last {
    width: 448px;
    height: 48px;
  }
}

.error_text_size {
  font-size: 0.55rem;
  @media screen and (min-width: 767px) {
    font-size: 0.8rem;
  }
}

.error {
  @extend .error_text_size;
  position: absolute;
  top: 32%;
  right: 4%;
  color: red;
}
.error_image {
  @extend .error_text_size;
  position: absolute;
  top: 85%;
  right: 32%;
  color: red;
  @media screen and (min-width: 767px) {
    top: 82%;
    right: 21%;
  }
}
.error_textarea {
  @extend .error_text_size;
  position: absolute;
  bottom: 10%;
  right: 4%;
  color: red;
}

//---------------- Second page----------------

.input_photo {
  opacity: 0;
  width: 100%;
  height: 100%;
  // border-radius: 20px;
  // border: 1px solid green;
}

.avatar__img {
  min-width: 182px;
  min-height: 182px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 767px) {
  .text {
    font-size: 20px;
    font-weight: 500;
  }
}

.btnAddPhoto {
  position: relative;
  width: 208px;
  height: 208px;
  background: var(--bg__color);
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  border: none;
  overflow: hidden;
}

@media screen and (min-width: 767px) {
  .btnAddPhoto {
    width: 182px;
    height: 182px;
  }
}

.crossBig {
  position: absolute;
  top: 80px;
  right: 75px;
  width: 45px;
  height: 45px;
  rotate: 45deg;
  fill: lightgray;
}

@media screen and (min-width: 767px) {
  .crossBig {
    top: 65px;
    right: 63px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
  .form {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

.label {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

@media screen and (min-width: 767px) {
  .label {
    font-size: 24px;
    line-height: 26px;
  }
}

.wrapTextarea {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .wrapTextarea {
    margin-top: 40px;
  }
}

.textarea {
  padding: 12px;
  width: 240px;
  height: 100px;
  background: var(--bg__color);
  border: 1px solid var(--input__color);
  border-radius: 20px;
  margin-top: 8px;
  resize: none;
}

@media screen and (min-width: 767px) {
  .textarea {
    width: 394px;
    height: 116px;
    margin-top: 12px;
  }
}
